.main-info {
    padding: 20px 0;
    min-height: 400px;
    background-image: url("../img/horses-pattern-3.jpg");
    background-position: 0 0;
    filter: brightness(115%);
}

.main-info__title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #00909e;
}

.main-info__text {
    line-height: 20px;
    color: #1b2a49;
}

@media (min-width: $tablet-width) {
    .main-info {
        padding: 60px 0;
    }

    .main-info__title {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 35px;
    }

    .main-info__text {
        line-height: 25px;
}

    
}