.main-header {
    padding: 15px 0;
    // background-color: transparent;
    // position: absolute;
    background-color: #1b2a49;
    position: relative;
    z-index: 1000;
}

.main-header__logo {
    margin-bottom: 10px;
    text-align: center;
}

.main-header__title {
    margin-bottom: 10px;
    line-height: 1;
    text-align: center;
    color: #c9d1d3;
        & b {
           font-size: 30px;
           text-transform: uppercase;
           color: #00909e;
        }
}

.main-header__contact {
    text-align: center;
    color: #00909e;
}

// @media (min-width: 576px) {
//     .main-header__logo {
//         margin-bottom: 0;
//     }

//     .main-header__title {
//         margin-bottom: 0;
//     }
// }

@media (min-width: $tablet-width) {
    .main-header__logo {
        margin-bottom: 0;
    }

    .main-header__logo img {
        width: 100px;
        height: 70px;
    }

    .main-header__title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 0;
    }

    .main-header__title b {
        font-size: 40px;
        line-height: 40px;
        
    }

    .main-header__contact {
        font-size: 20px;
    }
}